.contract-viewer-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.contract-col, .dialog-col {
  width: 48%;
}

textarea {
  width: 100%;
  min-height: 300px;
  box-sizing: border-box;
}

.contract-col textarea {
  min-height: 50em;
}

.dialog-col textarea {
  min-height: 5em;
}

button {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 1em;
}

.response-content {
  margin-top: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
}