<div class="container" [class.file-uploaded]="selectedContractId !== null">
  <div class="row">
    <div *ngIf="selectedContractId === null" class="col upload-col">
      <app-contract-upload 
        (contractUploaded)="onContractUploaded($event)"
        (contractSelected)="onContractSelected($event)">
      </app-contract-upload>
    </div>
    <div *ngIf="selectedContractId !== null" class="col contract-viewer-col">
      <app-contract-viewer 
        [contractId]="selectedContractId"
        (contractUpdated)="onContractUpdated($event)">
      </app-contract-viewer>
    </div>
  </div>
</div>