<div class="container" [class.file-uploaded]="blobStorageLocation">
  <div class="row">
    <div class="col contract-col">
      <div *ngIf="!blobStorageLocation">
        <h2>Upload PDF</h2>
        <input type="file" (change)="onFileSelected($event)" accept=".pdf">
        <button (click)="uploadFile()">Upload</button>
      </div>
      <div *ngIf="uploadResponse">
        <h3>Contract:</h3>
        <textarea [readonly]="!isEditing" [(ngModel)]="uploadResponse"></textarea>
        <button *ngIf="!isEditing" (click)="startEditing()">Edit</button>
        <div *ngIf="isEditing">
          <button (click)="saveEdits()" [disabled]="loading">Save</button>
          <button (click)="cancelEditing()" [disabled]="loading">Cancel</button>
        </div>
        <div *ngIf="loading">Updating PDF...</div>
        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
          <button (click)="clearErrorMessage()">Dismiss</button>
        </div>
        <a *ngIf="blobStorageLocation" [href]="blobStorageLocation" target="_blank">Download Updated File</a>
      </div>
    </div>
    <div class="col dialog-col">
      <div *ngIf="blobStorageLocation">
        <h3>Dialog:</h3>
        <div *ngIf="response" class="response-content">
          <pre [innerHTML]="response"></pre>
        </div>
        <textarea [(ngModel)]="prompt" placeholder="Prompt LLM"></textarea>
        <button (click)="sendPrompt()">Send Prompt</button>
        <div *ngIf="loading">Loading...</div>
      </div>
    </div>
  </div>
</div>